<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="UNCC Notes App">
  <title>UNCC Notes App - View your Note</title>
  <!-- styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<nav>
  <a class="nav-buttons" href="/index">Home</a> ||
  <a class="nav-buttons" href="/projects">My projects</a> ||
  <a class="nav-buttons" href="/projects/new">Add project</a>
</nav>
{% if user %}
<nav>
  <br>
  <a class="nav-buttons" href="{{ url_for('logout') }}"> Logout</a>
</nav>
{% else %}
<nav>
  <a class="nav-buttons" href="{{ url_for('login') }}"> Login</a> ||
  <a href="{{ url_for('register') }}"> Register</a>
</nav>
{% endif %}
</div>

<body>
  <h1>Welcome {{user.name}} to the Catch-22 Project Management Tool!</h1>
  <h2>Project Details:</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>{{ project.title }}</td>
      <td>{{ project.text }}</td>
      <td>{{ project.date }}</td>
    </tr>
  </table>
</body>

{% if project.comments %}
{% if project.comments|length > 0 %}
<h2>Comments</h2>
<ul>
  {% for comment in project.comments %}
  <li>{{ comment.content }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endif %}

<form action="{{ url_for('new_comment', project_id=project.id) }}" method="post">
  <div class="formwrapper">
    <h2 class="title">Add a comment</h2>
    <div class="form-field">
      {{ form.comment.label }} <br /> {{ form.comment }}
    </div>
    {{ form.submit }}
  </div>
</form>

</html>